body{
    margin: 0;
}

.bild-1 > img{
    position: absolute;
    width: 40px;
    height: auto;

    margin-top: -3px;
    margin-left: 15px;
}

header{
    text-align: center;
    border-bottom: 2px solid #000;

    font-family: 'Charmonman', cursive;
}

.grid{
    grid-template-columns: auto auto;
    grid-template-rows: 60px 300px;
}
