body{
    margin: 0;
}

.bild-1 > img{
    position: absolute;
    width: 40px;
    height: auto;

    margin-top: -3px;
    margin-left: 15px;
}

header{
    text-align: center;
    border-bottom: 2px solid #000;

    font-family: 'Charmonman', cursive;
}

.grid{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    margin: auto;
    
}

.namn{
    grid-column: 1/3;
    grid-row: 1/1;
    text-align: center;
}

.beskrivning{
    grid-column: 1/1;
    grid-row: 2/2;

    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;

    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.beskrivning-inside{
    width: 50%;
    margin: auto;
    
    display: flex;
    justify-content: center;

    padding: 19%;

    border: 2px solid #000;
    border-radius: 20px;
}

.bild{
    grid-column: 2/2;
    grid-row: 2/2;
    
    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.bild > img{
    width: 80%;
    height: auto;

    border: 2px solid #000;
    border-radius: 20px;
}

.grid-2{
    display: grid;
    grid-template-columns: 50% 45%;

    width: 80%;
    padding: 30px;

    margin: auto;

    margin-top: 60px;
    border: 2px solid #000;
    border-radius: 20px
}

.bilder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 2px solid #000;
    border-radius: 20px;

    margin: auto;
    
    height: 90%;

}

.bilder-1 > img, .bilder-2 > img, .bilder-3 > img, .bilder-4 > img, .bilder-5 > img, .bilder-6 > img{
    height: 100px;
    width: 200px;

    margin: auto;
    margin: 5px;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;

    border: 2px solid #000;
    border-radius: 20px;
}

.steg{
    margin: auto;
    font-size: 25px;
}

.step-by{
    width: 80%;
    margin: auto;
    margin-top: 60px;

    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
}

footer{
    width: auto;
    height: 200px;

    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content:center;

    border-top: 2px solid #000;

    margin-top: 60px;
}